@use "bootstrap/scss/bootstrap";
@use "./_variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.section--zoomed {
  transform: scale(1.05);
  z-index: 10;
}

.section--zoomed-out {
  transform: scale(0.65);
  pointer-events: none;
}

.section--normal {
  transform: scale(1);
  pointer-events: auto;
}
